.github/
.vscode/
.idea/
.git/
docs/
examples/
lib/
logs/
src/
node_modules/


index-test.js
install.js
jest.config.js
*.log
Makefile
ent.plist

tsconfig.json
tsup.config.ts
typedoc-*
typedoc.*
*.tgz
